.carousel .item{
	max-height: 600px;
}
.item img{
	object-fit: cover;
}
.navig{
	margin-left: 0px;
	margin-right: 0px;
	position: absolute;
	z-index: 999;
	top:30px;
	width: 100%;
	background: none;
	text-align: center;
}
.navig button{
	align-self: right;
}
.cari{
	position: absolute;
	top:0px;
}