About the apartment- location, units, member details
	
The Association Introduction- 
Membership, 
Association Registration,
COC
Association Election/ Nomination
AGM 
Assocation Activities

Newsletter


Exclusive for apartment members

Login ID
Member Exhaustive Details- DOB, Marriage day, Special Info
Association members' roles and responsibilities
Waste Management
Water Supply
Rainwater Harvesting
Security Management
Message Box and message alert- Forum
Notification
Financial Section
Updates on continous basis
financial statements on a common platform
Development issues
Feedback and Suggestion Column
