.writeuphead{
	text-align: center;
	background-color: white;
}
.navigation{
	margin-bottom: 0px;
}
.jumbotron{
	text-align: center;
	padding-top: 20%;
	padding-bottom: 20%;
	text-shadow: 2px 2px #000;
	font-family: helvetica;
}
.bg-cover{
	color: white;
	background-position: center center;
	position: relative;
	z-index: -2;
	background-size: cover;

}
.bg-cover1{
          background-image:  url("../images/anxiety2.jpeg");
} 
.bg-cover2{
           background-image:  url("../images/dream.jpeg");
           background-repeat: no-repeat;
}
.bg-cover3{
           background-image:  url("../images/monsoon2.jpeg");
} 
.bg-cover4{
           background-image:   url("../images/music2.jpeg");
}
.bg-cover5{
           background-image:  url("../images/sunshine.jpeg");
}
.bg-cover6{
           background-image:  url("../images/trees1.jpeg");
}        
.overlay{
	background-color: #000;
	opacity: 0.5;
	position: absolute;
	top:0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: -1;
}
h1{
	font-size: 8vw;
}
.content{
	font-size: 1em;
	text-align: center;
	word-wrap: break-word;
	white-space: pre-wrap;
}
@media screen and (max-width: 576px){
	.jumbotron{
		padding-top: 20%;
		padding-bottom: 20%;
	}
}